.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: $spacer;

  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .navbar-brand {
    padding: $spacer;
    @include media-breakpoint-up(md) {
      padding: $spacer * 3;
    }
  }

  .language-selection {
    padding: $spacer;
    @include media-breakpoint-up(md) {
      padding: $spacer $spacer * 2.5 $spacer;
    }
  }
}

.login-container {
  padding: $spacer $spacer $spacer * 3;
  border-bottom: 1.5px solid #ebeef3;
  min-height: 75vh;

  @include media-breakpoint-up(md) {
    padding: $spacer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    @include media-breakpoint-up(md) {
      width: $small-container-min-width;
    }
  }
}
