// override bootstrap variables here

$icon-size: 16px;
$icon-size-sm: 12px;
$icon-size-md: 18px;
$icon-size-lg: 21px;
$icon-size-xl: 32px;
$icon-vertical-shift: -0.25rem;
$icon-and-text-spacing: 0.25rem;
