.container {
  @include media-breakpoint-down(sm) {
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
  }
}

.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer * 2;

  h2,
  h3 {
    margin-bottom: 0;
  }
}

.container-wide {
  max-width: 1024px;
}
