.sidebar {
  padding: $spacer * 2;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: $spacer * 3;
    position: sticky;
    z-index: $zindex-fixed;
    .logo-text {
      opacity: 0;
      transition: opacity ease-in 300ms;
    }

    &:hover {
      .logo-text {
        opacity: 1;
      }
    }
  }
}

.sidebar-left {
  @include media-breakpoint-up(md) {
    top: 0;
    bottom: 0;
    left: -$sidebar-left-width;
    width: $sidebar-left-width;
  }
}
