<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- Stop output INFO at start -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] %-5p %c{1}:%L - %m%n</pattern>
    </encoder>
  </appender>

  <logger name="liquibase.servicelocator" level="ERROR"/>
  <logger name="io.mockk.proxy.jvm.transformation.InliningClassTransformer" level="ERROR"/>

  <logger name="request" level="INFO">
    <appender-ref ref="request"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="console"/>
  </root>
</configuration>
